@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #31456a;
  font-family: "Poppins", sans-serif;
  color: #31456a;
}

#container {
  background-color: #e3edf7;
  width: 30%;
  height: auto;
  margin: 0 auto;
}

#title {
  margin: 1rem 6.5rem;
  padding: 1rem 0;
  font-size: 1.8rem;
}

#clock {
  border: 1px solid #e3edf7;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 -3px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  margin-left: 4.5rem;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
}

#clock::before {
  content: "";
  position: absolute;
  border: solid rgb(187, 10, 10);
  border-radius: 50%;
  margin-left: 6.25rem;
  margin-top: 30px;
  z-index: 2;
}

#timer {
  position: relative;
  margin-left: 3.5rem;
  margin-top: 5.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  z-index: 2;
}

.outer-clock-face::after {
  transform: rotate(90deg);
}

.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking {
  content: "";
  position: absolute;
  width: 3px;
  height: 34%;
  margin-top: -7rem;
  background: #31456a;
  z-index: 0;
  left: 49%;
}

.outer-clock-face .marking {
  background: #31456a;
  width: 1px;
}

.outer-clock-face .marking.marking-one {
  transform: rotate(8deg);
}

.outer-clock-face .marking.marking-two {
  transform: rotate(15deg);
}

.outer-clock-face .marking.marking-three {
  transform: rotate(22deg);
}

.outer-clock-face .marking.marking-four {
  transform: rotate(150deg);
}

.inner-clock-face {
  position: absolute;
  top: 21.5%;
  left: 42%;
  width: 11rem;
  height: 11rem;
  background: #e3edf7;
  border-radius: 100%;
  z-index: 1;
}
