@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #31456a;
  font-family: "Poppins", sans-serif;
  color: #31456a;
}

#container {
  background-color: #e3edf7;
  width: 30%;
  height: auto;
  margin: 0 auto;
}

#title {
  margin: 1rem 6.5rem;
  padding: 1rem 0;
  font-size: 1.8rem;
}

#clock {
  border: 1px solid #e3edf7;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 -3px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  margin-left: 4.5rem;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
}

#clock::before {
  content: "";
  position: absolute;
  border: solid rgb(187, 10, 10);
  border-radius: 50%;
  margin-left: 6.25rem;
  margin-top: 25px;
  z-index: 2;
}

#timer {
  position: relative;
  margin-left: 3.5rem;
  margin-top: 5.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  z-index: 2;
}

.outer-clock-face::after {
  transform: rotate(90deg);
}

.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking {
  content: "";
  position: absolute;
  width: 3px;
  height: 34%;
  margin-top: -7rem;
  background: #31456a;
  z-index: 0;
  left: 49%;
}

.outer-clock-face .marking {
  background: #31456a;
  width: 1px;
}

.outer-clock-face .marking.marking-one {
  transform: rotate(8deg);
}

.outer-clock-face .marking.marking-two {
  transform: rotate(14deg);
}

.outer-clock-face .marking.marking-three {
  transform: rotate(20deg);
}

.outer-clock-face .marking.marking-four {
  transform: rotate(26deg);
}

.outer-clock-face .marking.marking-five {
  transform: rotate(32deg);
}

.outer-clock-face .marking.marking-six {
  transform: rotate(37deg);
}

.outer-clock-face .marking.marking-six {
  transform: rotate(38deg);
}

.outer-clock-face .marking.marking-seven {
  transform: rotate(43deg);
}

.outer-clock-face .marking.marking-eight {
  transform: rotate(48deg);
}

.outer-clock-face .marking.marking-nine {
  transform: rotate(53deg);
}

.outer-clock-face .marking.marking-ten {
  transform: rotate(58deg);
}

.outer-clock-face .marking.marking-ten {
  transform: rotate(58deg);
}

.outer-clock-face .marking.marking-eleven {
  transform: rotate(63deg);
}

.outer-clock-face .marking.marking-twelve {
  transform: rotate(68deg);
}

.outer-clock-face .marking.marking-thirteen {
  transform: rotate(73deg);
}

.outer-clock-face .marking.marking-fourteen {
  transform: rotate(78deg);
}

.outer-clock-face .marking.marking-fifteen {
  transform: rotate(83deg);
}

.outer-clock-face .marking.marking-sixteen {
  transform: rotate(96deg);
}

.outer-clock-face .marking.marking-seventeen {
  transform: rotate(103deg);
}

.outer-clock-face .marking.marking-eighteen {
  transform: rotate(109deg);
}

.outer-clock-face .marking.marking-nineteen {
  transform: rotate(115deg);
}

.outer-clock-face .marking.marking-twenty {
  transform: rotate(121deg);
}

.outer-clock-face .marking.marking-twenty {
  transform: rotate(121deg);
}

.outer-clock-face .marking.marking-twenty-one {
  transform: rotate(127deg);
}

.outer-clock-face .marking.marking-twenty-two {
  transform: rotate(132deg);
}

.outer-clock-face .marking.marking-twenty-three {
  transform: rotate(137deg);
}

.outer-clock-face .marking.marking-twenty-four {
  transform: rotate(142deg);
}

.outer-clock-face .marking.marking-twenty-five {
  transform: rotate(147deg);
}

.outer-clock-face .marking.marking-twenty-six {
  transform: rotate(153deg);
}

.outer-clock-face .marking.marking-twenty-seven {
  transform: rotate(158deg);
}

.outer-clock-face .marking.marking-twenty-eight {
  transform: rotate(163deg);
}

.outer-clock-face .marking.marking-twenty-nine {
  transform: rotate(168deg);
}

.outer-clock-face .marking.marking-thirty {
  transform: rotate(173deg);
}

.inner-clock-face {
  position: absolute;
  top: 20.9%;
  left: 41.8%;
  width: 11.3rem;
  height: 11.3rem;
  background: #e3edf7;
  border-radius: 100%;
  z-index: 1;
}

#start_rest_btn_container {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

#reset_btn {
  margin-left: -0.2rem;
  padding: 0.5rem 1rem;
}

#start_btn {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
}

#lap_btn {
  margin-left: 2rem;
  padding: 0.5rem 1rem;
}
